VITE_ARWEAVE_INDEX_API_URL=/api/index
VITE_ARWEAVE_GATEWAY_URL=https://arweave.net
VITE_MOLECULE_API_KEY=
VITE_MOLECULE_GRAPHQL_ENDPOINT=https://production.graphql.api.molecule.xyz/graphql
VITE_DEFILLAMA_BASE_URL=https://coins.llama.fi
